.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

section, table, form {
  border: 1px solid silver;
  border-radius: 10px;
  padding: 3%;
  margin: 10px;
}

tbody.hidden {
  display: none;
}

table button,
table caption {
  display: block;
  margin: auto;
}

table {
  border-spacing: 0;
  display: inline-block;
}

form {
  display: inline-block;
}

td, th {
  padding: .8rem;
  border-top: 1px solid silver;
}

th {
  vertical-align: bottom;
  border-bottom:2px solid silver;
}

tr {
  margin: 0;
  padding: 10px;
}

.Toastify__toast--default {
  font-weight: bold;
  text-shadow: 1px 1px 2px chartreuse, 2px 2px 4px seagreen;
}
