.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

table.loans,
table.goods,
table.flight-plans,
table.ships,
table.loan-types,
table.locations {
  display: none;
}

section, table, form {
  border: 1px solid silver;
  border-radius: 10px;
  padding: 3%;
  margin: 10px;
}

table {
  border-spacing: 0;
  display: inline-block;
}

form {
  display: inline-block;
}

td, th {
  padding: .8rem;
  border-top: 1px solid silver;
}

th {
  vertical-align: bottom;
  border-bottom:2px solid silver;
}

tr {
  margin: 0;
  padding: 10px;
}
